
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 5x 10px;
  width: 100%;
  height: 40px; /* Fixed height */
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures the navbar stays above all content */
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

